$border-blue: 0.5rem solid #04c2ff;

body {
	backface-visibility: hidden;
	color: #f2f2f2;
	display: grid;
	font: 1vw 'Russo One', sans-serif;
	overflow: hidden;
	place-items: center;
}

h3 {
	font-size: 2em;
	margin: 0;
}

#bottomPanel {
	bottom: 5vh;
	display: grid;
	left: 0;
	place-items: center;
	position: absolute;
	right: 0;
	text-align: center;

	h3 {
		padding: 1vw;
	}
}

#bottomContent {
	align-items: center;
	background: #222;
<<<<<<< HEAD
	background: radial-gradient(circle, #222 0%, #111 100%);
	border-bottom: 0.5em solid #04c2ff;
	border-radius: 0.5vw;
=======
	border-bottom: $border-blue;
	width: 80vw;
>>>>>>> cb939546a8f968895305ff9130af30fc37951341
	display: flex;
	justify-content: space-around;
	overflow: hidden;
<<<<<<< HEAD
	width: 80vw;
	z-index: -1;
=======
	box-shadow: .5em .5em 2em rgba(0,0,0,.5);
>>>>>>> cb939546a8f968895305ff9130af30fc37951341
}

#bottomPanel .hide {
	margin-left: -80vw;
	overflow: hidden;
	transition: all ease 1s;
	width: 0;
}

#bottomPanel.show .hide {
	margin-left: 0;
	width: 80vw !important;
}

.sidepanel {
	background: #222;
	background: radial-gradient(circle, #222 0%, #111 100%);
	border-bottom: 0.5em solid #04c2ff;
	bottom: 20vh;
	display: flex;
	flex-direction: column;
<<<<<<< HEAD
	opacity: 0;
=======
	bottom: 20vh;
	border-bottom: $border-blue;
>>>>>>> cb939546a8f968895305ff9130af30fc37951341
	overflow: hidden;
	padding: .5em 1em;
	position: absolute;
	transition: all ease 1s;
}

.sidepanel.left {
  border-radius: 0 0.5vw 0.5vw 0;
  left: -5em;
}

.sidepanel.left.show {
  left: 0;
  opacity: 1;
}

.sidepanel.right {
  border-radius: 0.5vw 0 0 0.5vw;
  right: -5em;
  text-align: right;
}

.sidepanel.right.show {
  opacity: 1;
  right: 0;
}

.sidepanel.show div {
  opacity: 1;
}

.sidepanel > div {
	opacity: 0;
	transition: all ease 2s;
}

.upper {
	font-size: 2em;
}

.lower {
	color: #aaa;
	font-size: 1.2em;
}
