body {
	font: 1vw 'Russo One', sans-serif;
	display: grid;
	place-items: center;
	overflow: hidden;
	backface-visibility: hidden;
	color: #f2f2f2;
}

h3 {
	font-size: 2em;
	margin: 0;
}

#bottomPanel {
	position: absolute;
	bottom: 5vh;
	display: grid;
	place-items: center;
	text-align: center;
	left: 0;
	right: 0;

	h3 {
		padding: 1vw;
	}
}

#bottomPanel div {
	background: #222;
	border-bottom: 0.5rem solid #04c2ff;
	width: 80vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 0.5vw;
	z-index: -1;
	transition: width ease 1s;
	width: 0;
	overflow: hidden;
}

#bottomPanel.show div {
	width: 80vw !important;
}

.sidepanel {
	position: absolute;
	background: #222;
	padding: 1em;
	display: flex;
	flex-direction: column;
	bottom: 20vh;
	border-bottom: 0.5rem solid #04c2ff;
	overflow: hidden;
	transition: all ease 1s;
	opacity: 0;
}

.sidepanel.left {
  left: -5em;
  border-radius: 0 0.5vw 0.5vw 0;
}

.sidepanel.left.show {
  left: 0;
  opacity: 1;
}

.sidepanel.right {
  right: -5em;
  text-align: right;
  border-radius: 0.5vw 0 0 0.5vw;
}

.sidepanel.right.show {
  right: 0;
  opacity: 1;
}

.sidepanel.show div {
  opacity: 1;
}

.sidepanel > div {
	opacity: 0;
	transition: all ease 2s;
}

.upper {
	font-size: 2em;
}

.lower {
	color: #aaa;
}
